* {
  margin:0;
  padding:0;
  line-height:1;
  border:0;
  background:transparent;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", sans-serif;
}

h1, h2 {
  margin:0 0 20px 0;
}

header {
  padding:20px 20px 0 20px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  & > div {
    min-height: 50px;
    padding:20px;
    transition: width 0.7s ease-out;
    &:nth-child(1){
      order: 1;
      flex: 1 1 30%;
    }
    &:nth-child(2){
      order: 2;
      flex: 1 1 35%;
      background:#f0f0f0;
    }
    &:nth-child(3){
      order: 3;
      flex: 1 1 35%;
    }
  }
}

@media all and (max-width: 640px) {
  .flex {
    flex-direction: column;;
    & > div {

      &:nth-child(1){
        order: 2;
        flex: 1 1 auto;
      }
      &:nth-child(2){
        order:3;
        flex: 1 1 auto;
      }
      &:nth-child(3){
        order: 1;
        flex: 1 1 auto;
      }
    }
  }
}