button {
  background-color:#000;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size:12px;
  text-transform: uppercase;
  padding:6px 16px;
  text-decoration:none;
  &:hover {
    background-color:#fff;
    color:#000;
    border:1px solid #000;
  }
  &:active {
    position:relative;
    top:1px;
  }
}
