

.Jobs {

  ul {
    font-size:12px;
    list-style: none;
  }

  li {
    position:relative;
    overflow: hidden;
    padding: 20px;
    border-bottom:1px dotted rgba(0,0,0,.1);
    &:last-child {
      border:0;
    }
    &:hover {
      background: #ededed;
    }
    &.active {
      background:#eee;
    }

    h4, p {
      margin-bottom:10px;
    }
  }

  img {
    display:block;
    border:8px solid rgba(0,0,0,.1);
    float:left;
    margin:-0 10px 0 0;
    cursor: pointer;
  }

}