.Scheduler {

  legend {
    font-weight:bold;
    margin-bottom:10px;
  }
  fieldset {
    background: #fff;
    margin-bottom:20px;
    padding:10px;
    border:1px dotted #000;
  }
  select {
    width: 50px;
    display:inline-block;
    border:1px solid #eee;
    padding:2px;
    height:28px;
    margin-right:10px;
    background:#fff;
    border:1px solid #ccc;
    text-indent: 4px;
  }

  .divider {
    display:inline-block;
    margin-right:10px;
  }
  .error {
    margin:0 0 15px 0;
    font-weight: 700;
    padding:8px;
    background: #fff;
    display:none;
    color:#cc0000;
    &.active {
      display:inline-block;
    }
  }

}